footer {
	width: 100%;
	color: white;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 100px;
	background-color: black;
}

footer .footer-list {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	min-width: 200px;
}

footer .footer-list h5 {
	font-size: 1rem;
}

footer .footer-list a {
	color: white;
	text-decoration: underline;
}

footer .footer-list a:hover {
	font-weight: bolder;
}