#who-we-are {
	background-color: black;
	height: 200vh;
	color: white;
}

#who-we-are .image {
	background: linear-gradient(rgba(7, 4, 71, .5), rgba(7, 4, 71, .5)), url('../../assets/images/universe-person.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	width: 700px;
	height: 700px;
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}